<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.project.jordon.vo.MemberVO" alias="m"/>
        <typeAlias type="com.project.jordon.vo.CustomerServiceVO" alias="c"/>
        <typeAlias type="com.project.jordon.vo.CommunityVO" alias="i"/>
        <typeAlias type="com.project.jordon.vo.BoardVO" alias="b"/>
        <typeAlias type="com.project.jordon.vo.MessageVO" alias="message"/>
        <typeAlias type="com.project.jordon.vo.ReplyVO" alias="r"/>
        <typeAlias type="com.project.jordon.vo.PortfolioVO" alias="p"/>
    </typeAliases>
</configuration>