/*header css */
.wrapper_findo {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: #5fbb91;
}

button {
    color: #5fbb91;
    background: white;
    border: none;
}

button:hover {
    color: #5fbb91;
    background: #b1fbc3;
    padding: 5px 10px;
    border: none;
    border-radius: 5px
}

li {
    color: #5fbb91;
}

a {
    color: #5fbb91;
}

.total_findo {
    width: 600px;
    height: 100vh;
}

.findo_head_icons_left button {
    font-size: 20px;
}

.findo_head_icons_right a {
    font-size: 20px;
}

.findo_head_icons {
    display: flex;
    justify-content: space-between;
}

.findo_head_logo img {
    width: 600px;
    height: 200px;
}

.findo_head_button {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.findo_head_button a {
    font-size: 30px;
    padding: 10px 20px;
    text-decoration: none;
}

.findo_head_login {
    font-size: 30px;
    margin: 20px 0px;
    border: 1px solid pink;
    border-radius: 20px;
}

.findo_head_login_text {
    text-align: center;
    margin: 20px 0px;
}

.findo_head_login_text button {
    border: 1px solid #5fbb91;
    border-radius: 5px;
    padding: 10px 20px;
}

.findo_head_login_text a {
    font-size: 30px;
    padding: 10px 20px;
    text-decoration: none;
}
/*header css */
/*main.css*/
.findo_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.findo_main img {
   margin: 20px;
}

.main_top_top img {
    width: 600px;
    height: 500px;
    border-radius: 20px;
}

.main_top_middle img {
    width: 600px;
    height: 500px;
    border-radius: 20px;
}

.main_top_bottom img {
    width: 600px;
    height: 500px;
    border-radius: 20px;
}

.main_middle_top img {
    width: 600px;
    height: 500px;
    border-radius: 20px;
}

.main_middel_middle img {
    width: 600px;
    height: 500px;
    border-radius: 20px;
}

.main_middle_bottom img {
    width: 600px;
    height: 500px;
    border-radius: 20px;
}

.main_bottom_top img {
    width: 600px;
    height: 500px;
    border-radius: 20px;
}

.main_bottom_middle img {
    width: 600px;
    height: 500px;
    border-radius: 20px;
}

.main_bottom_bottom img {
    width: 600px;
    height: 500px;
    border-radius: 20px;
}

/*main.css*/

/*footer*/
footer_middle img{
    width: 600px;
    height: 500px;
    border-radius: 20px;
}
/*footer*/
.footer_top {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}

.footer_top_list li {
    list-style: none;
    margin: 20px 0px;
}

.footer_top_list a {
    text-decoration: none;
    font-size: 30px;

}

.footer_bottom {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}

.footer_bottom_top_list li {
    list-style: none;
    margin: 20px 0px;
}

.footer_bottom_top_list a {
    text-decoration: none;
    font-size: 30px;
}

.footer_bottom_middle {
    font-size: 20px;
}

.footer_bottom_bottom {
    display: flex;
    justify-content: space-between;
}

.footer_bottom_bottom_top {
    font-size: 15px;
}

.footer_bottom_bottom_middle a {
    font-size: 20px;
    text-decoration: none;
}