<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="/include/header :: headfragment">
</head>
<body>
<div class="wrapper_findo">
    <div class="total_findo">
        <div th:replace="/include/header :: headerfragment"></div>
        <div class="community_board_content">
            <p>community_board_content</p>
        </div>
        <a th:href="@{/community}"><input type="button" value="목록"></a>
        <a th:href="@{/community_board_edit}"><input type="button" value="수정"></a>
        <a th:href="@{/community_board_delete}"><input type="button" value="삭제"></a>
        <div th:replace="/include/footer :: footerfragment"></div>
    </div>
</div>
</body>
</html>