<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="/include/header :: headfragment">
</head>
<body>
<div class="wrapper_findo">
    <div class="total_findo">
        <div th:replace="/include/header :: headerfragment"></div>
        <div>
            <form th:action="@{'/post/edit/' + ${boardDto.id}}" method="post">
                <input type="hidden" name="_method" value="put"/>
                <input type="hidden" name="id" th:value="${boardDto.id}"/>

                제목 : <input type="text" name="title" th:value="${boardDto.title}"> <br>
                작성자 : <input type="text" name="writer" th:value="${boardDto.writer}"> <br>
                <textarea name="content" th:text="${boardDto.content}"></textarea><br>

                <input type="submit" value="수정">
            </form>
        </div>
        <div th:replace="/include/footer :: footerfragment"></div>
    </div>
</div>
</body>
</html>