<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="/include/header :: headfragment">
</head>
<body>
<div class="wrapper_findo">
    <div class="total_findo">
        <div th:replace="/include/header :: headerfragment"></div>
        <div>
            <form  action="/post" method="post">
                제목 : <input type="text" name="title"> <br>
                작성자 : <input type="text" name="writer"> <br>
                <textarea name="content"></textarea><br>

                <a th:href="@{/community}"><input type="submit" value="등록"></a>
                <a th:href="@{/community}"><input type="button" value="목록"></a>
            </form>
        </div>
        <div th:replace="/include/footer :: footerfragment"></div>
    </div>
</div>
</body>
</html>