<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="/include/header :: headfragment">
</head>
<body>
<div class="wrapper_findo">
    <div class="total_findo">
        <div th:replace="/include/header :: headerfragment"></div>
        <div>
            <form action="community_board_delete.ok" method="post">
                <p>community_board_delete 내부 입니다.</p>
                <input type="text" placeholder="password" required>
                <input type="submit" value="삭제">
                <a th:href="@{/community_board_edit}"><input type="button" value="취소"></a>
            </form>
        </div>
        <div th:replace="/include/footer :: footerfragment"></div>
    </div>
</div>
</body>
</html>