<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="/include/header :: headfragment">
</head>
<body>
<div class="wrapper_findo">
  <div class="total_findo">
    <div th:replace="/include/header :: headerfragment"></div>
    <div>
      <h1>비밀번호를 찾았습니다.</h1>
      <p th:text="${memberpassword}"></p>
      <a th:href="@{/login}"><input type="button" value="확인"></a>
    </div>
    <div th:replace="/include/footer :: footerfragment"></div>
  </div>
</div>
</body>
</html>