<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="/include/header :: headfragment">
</head>
<body>
<div class="wrapper_findo">
    <div class="total_findo">
        <div th:replace="/include/header :: headerfragment"></div>
        <div>
            <p>글삭제하는 페이지입니다.</p>
        </div>
        <div>
            <button><a th:href="@{/community_delete_ok}">글삭제완료</a></button>
            <br>
            <button><a th:href="@{/community}">목록으로돌아가기</a></button>
            <br>
        </div>
        <div th:replace="/include/footer :: footerfragment"></div>
    </div>
</div>
</body>
</html>