<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Findo</title>
    <link th:href="@{/css/stylesheet.css}" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/08cf8c1353.js" crossorigin="anonymous"></script>
    <script src="/js/javascript.js" type="text/javascript" defer></script>
    <script src="/js/jquery.js" type="text/javascript" defer></script>
</head>
<body>
<div class="wrapper_findo">
    <div class="total_findo">
        <header th:fragment="headerfragment">
            <div class="findo_head_icons">
                <div class="findo_head_icons_left">
                    <button onclick="sidemenu()"><i class="fa-solid fa-bars fa-2x"></i></button>
                </div>
                <div class="findo_head_icons_right">
                    <button><a th:href="@{/announcement}"><i class="fa-solid fa-bell fa-2x"></i></a></button>
                    <button><a th:href="@{/search}"><i class="fa-solid fa-magnifying-glass fa-2x"></i></a></button>
                    <button><a th:href="@{/login}"><i class="fa-solid fa-right-to-bracket fa-2x"></i></a></button>
                </div>
            </div>
            <div class="findo_head_logo">
                <img src="/images/logo_pink.png">
            </div>
            <hr>
            <div class="findo_head_button">
                <button><a th:href="@{/findo}">홈</a></button>
                <button><a th:href="@{/portfolio}">포트폴리오</a></button>
                <button><a th:href="@{/community}">커뮤니티</a></button>
                <button><a th:href="@{/news}">뉴스</a></button>
            </div>
            <div class="findo_head_login">
                <div class="findo_head_login_text" th:if="${session != null}">
                    <p>로그인을 하시려면 아래의 버튼을 클릭하세요</p>
                    <button><a th:href="@{/login}">로그인</a></button>
                </div>
                <div class="findo_head_login_text" th:unless="${session != null}">
                    <p th:text="${memberid}"></p>
                </div>
            </div>
            <hr>
        </header><!-- header -->
        <div class="findo_main">
            <div class="main_top_top">
                <a th:href="@{/community}"><img src="/images/company2.jpg"></a>
            </div>
            <div class="main_top_middle">
                <a th:href="@{/community}"><img src="/images/company2.jpg"></a>
            </div>
            <div class="main_top_bottom">
                <a th:href="@{/community}"><img src="/images/company2.jpg"></a>
            </div> <!-- main_top -->

            <div class="main_middle_top">
                <a th:href="@{/community}"><img src="/images/company2.jpg"></a>
            </div>
            <div class="main_middle_middle">
                <a th:href="@{/community}"><img src="/images/company2.jpg"></a>
            </div>
            <div class="main_middle_bottom">
                <a th:href="@{/community}"><img src="/images/company2.jpg"></a>
            </div> <!-- main_middel -->

            <div class="main_bottom_top">
                <a th:href="@{/community}"><img src="/images/company2.jpg"></a>
            </div>
            <div class="main_bottom_middle">
                <a th:href="@{/community}"><img src="/images/company2.jpg"></a>
            </div>
            <div class="main_bottom_bottom">
                <a th:href="@{/community}"><img src="/images/company2.jpg"></a>
            </div> <!-- main_bottom -->
        </div> <!-- findo_main -->
        <!-- footer -->
        <footer th:fragment="footerfragment">
            <div class="footer_top">
                <div class="footer_top_list">
                    <li><a th:href="@{/findo}">Home</a></li>
                    <li><a th:href="@{/company}">Company</a></li>
                </div>
                <div class="footer_top_list">
                    <li><a th:href="@{/investment}">Investment</a></li>
                    <li><a th:href="@{/products}">Products</a></li>
                </div>
                <div class="footer_top_list">
                    <li><a th:href="@{/FAQ}">FAQ</a></li>
                    <li><a th:href="@{/management}">Management</a></li>
                </div>
            </div> <!-- footer_top-->
            <div class="footer_middle">
                <img src="/images/management3.jpg"/>
            </div> <!-- footer_middle-->
            <div class="footer_bottom">
                <div class="footer_bottom_top_list">
                    <li><a th:href="@{/using_law}">핀도이용약관</a></li>
                    <li><a th:href="@{/financial_transaction_law}">전자금융거래이용약관</a></li>
                </div>
                <div class="footer_bottom_top_list">
                    <li><a th:href="@{/personal_info_law}">개인정보처리방침</a></li>
                    <li><a th:href="@{/management_announcement}">경영공지</a></li>
                </div>
            </div> <!-- footer_bottom-->
            <div class="footer_bottom_middle">
                <p>주식회사 핀도</p>
                <p>사업자등록번호 502-10923-12</p>
                <p>대표 정범수</p>
                <p>서울특별시 강남구 강남대로 84길(역삼동)</p>
            </div> <!-- footer_bottom_middle-->
            <div class="footer_bottom_bottom">
                <div class="footer_bottom_bottom_top">
                    <span>Copyright © FINDO Corp. All Rights Reserved.</span>
                </div>
                <div class="footer_bottom_bottom_middle">
                    <button>
                        <a th:href="@{https://www.facebook.com/}"><i class="fa-brands fa-square-facebook fa-2x"></i></a>
                    </button>
                    <button>
                        <a th:href="@{https://www.instagram.com/}"><i
                                class="fa-brands fa-square-instagram fa-2x"></i></a>
                    </button>
                    <button>
                        <a th:href="@{https://twitter.com/}"><i class="fa-brands fa-square-twitter fa-2x"></i></a>
                    </button>
                </div>
            </div> <!-- footer_bottom_bottom -->
        </footer> <!-- footer -->
    </div> <!-- total_findo -->
</div> <!-- wrapper_findo -->
</body>
</html>