<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="/include/header :: headfragment">
</head>
<body>
<div class="wrapper_findo">
    <div class="total_findo">
        <div th:replace="/include/header :: headerfragment"></div>
        <div>
            <table border="1">
                <tr>
                    <td rowspan="4">삼성전자</td>
                    <th>보유수량</th>
                    <th>손익</th>
                    <th>현재가</th>
                </tr>

                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                </tr>

                <tr>
                    <th>매수금액</th>
                    <th>수익률</th>
                    <th>평균단가</th>
                </tr>

                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                </tr>

            </table>
        </div>
        <div th:replace="/include/footer :: footerfragment"></div>
    </div>
</div>
</body>
</html>