<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Findo</title>
    <link th:href="@{/css/stylesheet.css}" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/08cf8c1353.js" crossorigin="anonymous"></script>
    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/javascript.js" type="text/javascript" defer></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                let roadAddr = data.roadAddress; // 도로명 주소 변수
                let extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if (data.buildingName !== '' && data.apartment === 'Y') {
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if (extraRoadAddr !== '') {
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('memberaddress1').value = data.zonecode;
                document.getElementById("memberaddress2").value = roadAddr;
                document.getElementById("memberaddress3").value = data.jibunAddress;

                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if (roadAddr !== '') {
                    document.getElementById("memberaddress4").value = extraRoadAddr;
                } else {
                    document.getElementById("memberaddress4").value = '';
                }

                let guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if (data.autoRoadAddress) {
                    let expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if (data.autoJibunAddress) {
                    let expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }</script>
</head>
<body>
<div class="wrapper_findo">
    <div class="total_findo">
        <header th:fragment="headerfragment">
            <div class="findo_head_icons">
                <!-- showMenu -->
                <div class="findo_head_icons_left">
                    <button onclick="ShowMenu()"><i class="fa-solid fa-bars fa-2x"></i></button>
                </div>
                <div class="menu_bg">
                    <div class="menu">
                        <div class="hidemenu" onclick="HideMenu()">
                            <button><i class="fa-solid fa-xmark fa-3x"></i></button>
                        </div>
                        <div class="hidemenu_wrapper">
                            <div class="hidemenu_login">
                                <hr>
                                <div class="hidemenu_login_text" th:if="${session != null}">
                                    <p>로그인을 하시려면 <br> 아래의 버튼을 클릭하세요</p>
                                    <button><a th:href="@{/login}">Login</a></button>
                                </div>
                                <div class="hidemenu_login_text" th:unless="${session != null}">
                                    <p th:text="${memberid}"></p>님 반갑습니다.
                                </div>
                                <hr>
                                <a th:href="@{/profile}"><p>Profile</p></a>
                                <hr>
                                <a th:href="@{/event}"><p>Event</p></a>
                                <hr>
                                <a th:href="@{/gamezone}"><p>GameZone</p></a>
                                <hr>
                                <a th:href="@{/announcement}"><p>Announcement</p></a>
                                <hr>
                                <a th:href="@{/customerservice}"><p>CustomerService</p></a>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- showMenu -->
                <div th:if="${session != null}" class="findo_head_icons_right">
                    <button><a th:href="@{/announcement}"><i class="fa-solid fa-bell fa-2x"></i></a></button>
                    <button><a th:href="@{/search}"><i class="fa-solid fa-magnifying-glass fa-2x"></i></a></button>
                    <button><a th:href="@{/login}"><i class="fa-solid fa-right-to-bracket fa-2x"></i></a></button>
                </div>
                <div th:unless="${session != null}" class="findo_head_icons_right">
                    <button><a th:href="@{/announcement}"><i class="fa-solid fa-bell fa-2x"></i></a></button>
                    <button><a th:href="@{/search}"><i class="fa-solid fa-magnifying-glass fa-2x"></i></a></button>
                    <button><a th:href="@{/logout}"><i class="fa-solid fa-right-from-bracket fa-2x"></i></a></button>
                </div>
            </div>
            <div class="findo_head_logo">
                <a th:href="@{/findo}"><img src="/images/logo_black.png"></a>
            </div>
            <hr>
            <div class="findo_head_button">
                <button><a th:href="@{/findo}">홈</a></button>
                <button><a th:href="@{/portfolio}">포트폴리오</a></button>
                <button><a th:href="@{/community}">커뮤니티</a></button>
                <button><a th:href="@{/news}">뉴스</a></button>
            </div>
        </header>
        <hr>
        <!-- header -->

        <div class="findo_signup_form">
            <form action="findo_signup_form_ok">
                <div class="signup_id">
                    <h2>아이디</h2>
                </div>
                <div class="signup_id_text">
                    <input autofocus type="text" id="memberid" name="memberid" class="input_id"
                           size="32" maxlength="20" minlength="6" placeholder="ID" onkeyup="CheckInputType(this)" spellcheck="false" required/>
                    <div class="signup_id_text_button">
                        <input type="button" id="memberid_confirm" name="memberid_confirm" value="중복확인" onclick="idcheck_confirm()"/>
                    </div>
                    <p id="checkId"></p>
                </div>
                <div class="signup_password">
                    <h2>비밀번호</h2>
                </div>
                <div class="signup_password_text">
                    <input type="password" id="memberpassword" name="memberpassword"
                           size="32" minlength="8" maxlength="20" onchange="check_pw()" placeholder="PASSWORD" required/>
                </div>
                <span>* 특수문자를 포함한 8자리 이상의 비밀번호를 입력하세요.</span>
                <div class="signup_password_confirm">
                    <h2>비밀번호 재확인</h2>
                </div>
                <div class="signup_password_confirm_text">
                    <input type="password" id="memberpassword2" name="memberpassword2"
                            size="32" minlength="8" maxlength="20" onchange="check_pw()" required/>
                </div>
                <span id="check"></span>
                <div class="signup_name">
                    <h2>이름</h2>
                </div>
                <div class="signup_name_text">
                    <input type="text" id="membername" name="membername" size="32"
                           minlength="2" maxlength="6" style="ime-mode:active;" spellcheck="false" required/>
                </div>
                <div class="signup_birth">
                    <h2>생년월일</h2>
                </div>
                <div class="signup_birth_text">

                    <input type="text" id="memberbirth" name="memberbirth"
                           size="32" minlength="8" maxlength="8" placeholder="생년월일 8자리를 입력해주세요." onkeyup="onlyNumber(this)" required/>

                </div>
                <div class="signup_gender">
                    <h2>성별</h2>
                </div>
                <div class="signup_gender_text">
                    <select id="membergender" name="membergender">
                        <option name="membergender" value="unselect" selected>선택</option>
                        <option name="membergender" value="male">남성</option>
                        <option name="membergender" value="female">여성</option>
                        <option name="membergender" value="other">선택안함</option>
                    </select>
                </div>
                <div class="signup_email">
                    <h2>본인확인 이메일</h2>
                </div>
                <div class="signup_email_text">
                    <input type="text" id="memberemail" name="memberemail"
                           size="32" maxlength="35" placeholder="이메일" required/>
                    <div class="signup_email_text_eamil">
                        <input type="button"
                               onclick="signup_email_text_confirm()"
                               value="인증번호 발급" />
                    </div>
                </div>

                <div class="signup_auth_email_text">
                    <input type="text" id="memberemailauth" name="memberemailauth"
                           size="32" maxlength="24" placeholder="인증번호" onkeyup="CheckInputType(this)" required/>
                    <div class="signup_auth_email">
                        <input type="button"
                               onclick="signup_email_text_confirm()"
                               value="인증번호 확인"/>
                    </div>
                </div>

                <!-- -->
                <hr>
                <h2>우편번호</h2>
                <hr>
                <div class="findo_signup_address">
                    <table border="1">
                        <tr>
                            <input class="findo_signup_address_button" type="button"
                                   onClick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
                            <input type="text" id="memberaddress1" name="memberaddress1" placeholder="우편번호" size="10" required>
                            <input type="text" id="memberaddress2" name="memberaddress2" placeholder="도로명주소" size="30" required>
                            <input type="text" id="memberaddress3" name="memberaddress3" placeholder="지번주소" size="30" required>
                            <span id="guide" style="color:#999;display:none"></span> <br>
                            <input type="text" id="memberaddress4" name="memberaddress4" placeholder="상세주소" size="25" required>
                            <input type="text" id="memberaddress5" name="memberaddress5" placeholder="건물주소" size="25" required>
                        </tr>
                    </table>
                </div>
                <!-- -->

                <div class="signup_phonenumber">
                    <h2>휴대전화</h2>
                </div>

                <div class="signup_phonenumber_text">
                    <input type="text" id="memberphonenumber" name="memberphonenumber" placeholder="'-'를 제외하고 입력하세요." size="32"
                           minlength="13" maxlength="13" onkeyup="onlyNumber(this)" required/>
                </div>

                <div class="signup_button">
                    <input type="submit" value="가입하기"/>
                </div>
            </form>
        </div>

        <!-- footer -->
        <div th:replace="/include/footer :: footerfragment"></div>
    </div>
</div>
</body>
</html>