<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="/include/header :: headfragment">
</head>
<body>
<div class="wrapper_findo">
  <div class="total_findo">
    <div th:replace="/include/header :: headerfragment"></div>
    <div>
      <p>커뮤니티 영역 내부 입니다.<p>
        <a th:href="@{/community_contents}">글정보 보기</a>
      <a th:href="@{/community_write}">글쓰기로 가기</a>
    </div>
    <div th:replace="/include/footer :: footerfragment"></div>
  </div>
</div>
</body>
</html>