<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="/include/header :: headfragment">
</head>
<body>
<div class="wrapper_findo">
    <div class="total_findo">
        <div th:replace="/include/header :: headerfragment"></div>
        <div>
            <table border="1">
                <tr>
                    <th>작성자</th>
                    <td>어드민</td>
                </tr>
                <tr>
                    <th>글제목</th>
                    <td>어드민입니다.</td>
                </tr>
                <tr>
                    <th>글내용</th>
                    <td>어드민이 작성한 글내용입니다.</td>
                </tr>
            </table>
        </div>
        <div>
            <!-- 쿼리스트링으로 링크패스 지정 -->
            <button><a th:href="@{/community_edit}">글수정하러가기</a></button>
            <br>
            <button><a th:href="@{/community_delete}">글삭제하러가기</a></button>
            <br>
            <button><a th:href="@{/community}">목록으로 돌아가기</a></button>
        </div>
        <div th:replace="/include/footer :: footerfragment"></div>
    </div>
</div>
</body>
</html>