<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Findo</title>
    <link th:href="@{/css/stylesheet.css}" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/08cf8c1353.js" crossorigin="anonymous"></script>
    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/javascript.js" type="text/javascript" defer></script>
</head>
<body>
<div class="wrapper_findo">
    <div class="total_findo">
        <header th:fragment="headerfragment">
            <div class="findo_head_icons">
                <!-- showMenu -->
                <div class="findo_head_icons_left">
                    <button onclick="ShowMenu()"><i class="fa-solid fa-bars fa-2x"></i></button>
                </div>
                <div class="menu_bg">
                    <div class="menu">
                        <div class="hidemenu" onclick="HideMenu()">
                            <button><i class="fa-solid fa-xmark fa-3x"></i></button>
                        </div>
                        <div class="hidemenu_wrapper">
                            <div class="hidemenu_login">
                                <hr>
                                <th:block class="hidemenu_login_text" th:if="${session.session == null}">
                                    <p>로그인을 하시려면 <br> 아래의 버튼을 클릭하세요</p>
                                    <button><a th:href="@{/login}">Login</a></button>
                                </th:block>
                                <th:block class="hidemenu_login_text" th:unless="${session.session == null}">
                                    <p th:text="${session.session}+'님 반갑습니다.'"></p>
                                </th:block>
                                <hr>
                                <a th:href="@{/profile}"><p>Profile</p></a>
                                <hr>
                                <!--                                <a th:href="@{/event}"><p>Event</p></a>-->
                                <!--                                <hr>-->
                                <a th:href="@{/gamezone}"><p>GameZone</p></a>
                                <hr>
                                <a th:href="@{/board/board_list}"><p>Announcement</p></a>
                                <hr>
                                <a th:href="@{/customerservice}"><p>CustomerService</p></a>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- showMenu -->
                <div th:if="${session.session == null}" class="findo_head_icons_right">
                    <button><a th:href="@{/board/board_list}"><i class="fa-solid fa-bell fa-2x"></i></a></button>
                    <button><a th:href="@{/search}"><i class="fa-solid fa-magnifying-glass fa-2x"></i></a></button>
                    <button><a th:href="@{/login}"><i class="fa-solid fa-right-to-bracket fa-2x"></i></a></button>
                </div>
                <div th:unless="${session.session == null}" class="findo_head_icons_right">
                    <button><a th:href="@{/board/board_list}"><i class="fa-solid fa-bell fa-2x"></i></a></button>
                    <button><a th:href="@{/search}"><i class="fa-solid fa-magnifying-glass fa-2x"></i></a></button>
                    <button><a th:href="@{/logout}"><i class="fa-solid fa-xmark fa-2x"></i></a></button>
                </div>
            </div>
            <div class="findo_head_logo">
                <a th:href="@{/findo}"><img src="/images/logo_black.png"></a>
            </div>
            <hr>
            <div class="findo_head_button">
                <button><a th:href="@{/findo}">홈</a></button>
                <button><a th:href="@{/portfolio}">포트폴리오</a></button>
                <button><a th:href="@{/community}">커뮤니티</a></button>
                <button><a th:href="@{/news/news}">뉴스</a></button>
            </div>
            <div class="findo_head_login">
                <hr>
                <div class="findo_head_login_text" th:if="${session.session == null}">
                    <p>로그인을 하시려면 아래의 버튼을 클릭하세요</p>
                    <button><a th:href="@{/login}">로그인</a></button>
                </div>
                <div class="findo_head_login_text" th:unless="${session.session == null}">
                    <p th:text="${session.session}+'님 반갑습니다.'"></p>
                    <hr>
                    <h4 th:text="'현재 자산현황'"></h4>
                    <div class="findo_head_login_text_h5">
                        <p>*사용자 증권사별 수수료의 차이로 실제 수익률과 상의할 수 있습니다.*</p>
                    </div>
                    <hr>
                    <div class="portfolio_stock">
                        <div th:if="${klist != null}" th:each="k : ${klist}">
                            <table border="1">
                                <tr>
                                    <th rowspan="4" class="select_edit" th:value="a" style="display: none; width:10%;">선택<input
                                            type="checkbox"
                                            name="checkedValue"
                                            class="select_edit" th:value="${k.id}"></label></th>
                                    <th style="width:20%;">종목코드</th>
                                    <th style="width:35%;">종목명</th>
                                    <th style="width:15%;">보유수량</th>
                                    <th style="width:20%;">평균단가</th>
                                </tr>
                                <tr>
                                    <td align="center" style="width:20%;">
                                        <span th:text="${k.id}"></span>
                                    </td>

                                    <td style="text-align: center; width:35%;">
                                        <a th:href="@{/port_cont(portfolionumber=${k.id})}"
                                           style="text-decoration: none; color:black;">
                                            <span th:text="${k.name}"></span>
                                        </a>
                                    </td>
                                    <td style="text-align: center; width:15%;">
                                        <span th:text="${k.quantity}"></span>
                                    </td>
                                    <td rowspan="3" style="text-align: center; width:20%;">
                                        <span th:text="${k.avgprice}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="width:20%;">현재가</th>
                                    <th style="width:35%;">손익</th>
                                    <th style="width:15%;">수익률</th>
                                </tr>
                                <tr>
                                    <td style="text-align: center; width:20%;">
                                        <span th:text="${k.currentPrice}"></span>
                                    </td>
                                    <td style="text-align: center; width:35%;">
                                        <span th:text="${k.profitAndLoss}"></span>
                                    </td>
                                    <td style="text-align: center; width:15%;">
                                        <span th:text="${k.eprice}"></span>
                                    </td>
                                </tr>
                                <br>
                                <div th:if="${klist == null}">
                                    <tr>
                                        <th colspan="5">보유중인 종목이 없습니다.</th>
                                    </tr>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </header><!-- header -->
        <div class="findo_main">
            <div class="main_top_top">
                <h2>FINDO Is Pursuing Successful Invesment</h2>
                <a th:href="@{/company}"><img src="/images/chart5.jpg"></a>
            </div>
            <div class="main_top_middle">
                <h2>FINDO's Invesment Strategies With Global Chain</h2>
                <a th:href="@{/investment}"><img src="/images/management.jpg"></a>
            </div>
            <div class="main_top_bottom">
                <h2>Best Cherry Pick Up Skill With Professional Managers</h2>
                <a th:href="@{/products}"><img src="/images/investment1.jpg"></a>
            </div> <!-- main_top -->

            <div class="main_middle_top">
                <h2>Get The World Fastest News In Findo</h2>
                <a th:href="@{/management}"><img src="/images/newspaper.jpg"></a>
            </div>
            <div class="main_middle_middle">
                <h2>Automatic Investment With AI</h2>
                <a th:href="@{/community}"><img src="/images/chart7.jpg"></a>
            </div>
            <div class="main_middle_bottom">
                <h2>Share Information Community With Shareholders</h2>
                <a th:href="@{/announcement/board_list}"><img src="/images/career2.jpg"></a>
            </div> <!-- main_middel -->

            <div class="main_bottom_top">
                <h2>Show Me Your Portfolio</h2>
                <a th:href="@{/products}"><img src="/images/career3.jpg"></a>
            </div>
            <div class="main_bottom_middle">
                <h2>Profit Rankers In Findo</h2>
                <a th:href="@{/news/news}"><img src="/images/career4.jpg"></a>
            </div>
            <div class="main_bottom_bottom">
                <h2>Honoring The Contributors</h2>
                <a th:href="@{/company}"><img src="/images/employee.png"></a>
            </div> <!-- main_bottom -->
        </div> <!-- findo_main -->
        <!-- footer -->
        <footer th:fragment="footerfragment">
            <hr>
            <div class="footer_top">
                <div class="footer_top_list">
                    <li><a th:href="@{/findo}">Home</a></li>
                    <li><a th:href="@{/company}">Company</a></li>
                </div>
                <div class="footer_top_list">
                    <li><a th:href="@{/investment}">Investment</a></li>
                    <li><a th:href="@{/products}">Products</a></li>
                </div>
                <div class="footer_top_list">
                    <li><a th:href="@{/management}">Management</a></li>
                    <li><a th:href="@{/faq/board_list}">FAQ</a></li>
                </div>
            </div> <!-- footer_top-->
            <hr>
            <div class="footer_middle">
                <img src="/images/foreigncompany2.png"/>
            </div> <!-- footer_middle-->
            <hr>
            <div class="footer_bottom">
                <div class="footer_bottom_top_list">
                    <li><a th:href="@{/using_law}">핀도이용약관</a></li>
                    <li><a th:href="@{/financial_transaction_law}">전자금융거래이용약관</a></li>
                </div>
                <div class="footer_bottom_top_list">
                    <li><a th:href="@{/personal_info_law}">개인정보처리방침</a></li>
                    <li><a th:href="@{/announcement/board_list}">경영공지</a></li>
                </div>
            </div> <!-- footer_bottom-->
            <hr>
            <div class="footer_bottom_middle">
                <p>주식회사 핀도</p>
                <p>사업자등록번호 502-10923-12</p>
                <p>대표 정범수</p>
                <p>서울특별시 강남구 강남대로 84길(역삼동)</p>
            </div> <!-- footer_bottom_middle-->
            <div class="footer_bottom_bottom">
                <div class="footer_bottom_bottom_top">
                    <span>Copyright © FINDO Corp. All Rights Reserved.</span>
                </div>
                <div class="footer_bottom_bottom_middle">
                    <button>
                        <a th:href="@{https://www.facebook.com/}"><i class="fa-brands fa-square-facebook fa-2x"></i></a>
                    </button>
                    <button>
                        <a th:href="@{https://www.instagram.com/}"><i
                                class="fa-brands fa-square-instagram fa-2x"></i></a>
                    </button>
                    <button>
                        <a th:href="@{https://twitter.com/}"><i class="fa-brands fa-square-twitter fa-2x"></i></a>
                    </button>
                </div>
            </div> <!-- footer_bottom_bottom -->
        </footer> <!-- footer -->
    </div> <!-- total_findo -->
</div> <!-- wrapper_findo -->
</body>
</html>