<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="/include/header :: headfragment">
</head>
<body>
<div class="wrapper_findo">
    <div class="total_findo">
        <div th:replace="/include/header :: headerfragment"></div>
        <div class="findo_company_wrapper">
            <h2>Findo에 오신걸 환영합니다.</h2>
            <div class="findo_company_main_top">
                <img src="/images/building2.jpg" />
            </div>
            <h2>최고의 서비스를 제공해 드리겠습니다.</h2>
            <div class="findo_company_main_middle">
                <img src="/images/asset3.jpg" />
            </div>
            <h2>최고의 자산관리 전문가들과 함께 합니다.</h2>
            <div class="findo_company_main_bottom">
                <img src="/images/asset5.jpg" />
            </div>
            <h2>명성에 맞는 최고의 금융자산를 축적해 드리겠습니다.</h2>
            <hr>
            <div class="findo_company_main-footer">
                <img src="/images/earth2.jpg" />
            </div>
            <p>핀도는 모바일 1:1 맞춤형 간편투자 서비스로,<br/>자체 개발한 투자 운용 플랫폼 프레퍼스와<br/> AI 간편투자 엔진 findo로 고객님의 자산을 관리해 드려요.</p>
            <div class="findo_company_main-footer-top">
                <img src="/images/faq3.jpg" />
            </div>
            <p>핀도는 AI 간편투자 서비스를 위한 1:1 투자 운용 플랫폼으로 <br/>고객별, 계좌별로 모두 다른 포트폴리오를 운용할 수 있어요.</p>
            <div class="findo_company_main-footer-middle">
                <img src="/images/faq4.jpg" />
            </div>
            <p>findo는 미국 주식, 금, 부동산 등 <br/>다양한 자산의 글로벌 ETF 포트폴리오를 구성하여<br/> 손실 위험을 최소화하고 안정적인 수익을 내는 것을<br/> 목표로 투자금을 운용해요.</p>
            <div class="findo_company_main-footer-middle-middel">
                <img src="/images/hand.jpg" />
            </div>
            <p>주식은 기업의 부가 가치 생산, 채권은 이자 수입,<br/> 실물 자산은 물가 상승 등의 요인으로 가격이 오르내려요.<br/> 각각 다른 방향으로 가격이 움직이는<br/> 자산에 고루 투자해야 손실을 줄일 수 있어요.</p>
            <div class="findo_company_main-footer-middle-bottom">
                <img src="/images/hand2.jpg" />
            </div>
            <p>핀도AI는<br/> 금융 데이터, 위험 대비 수익률,<br/> 비용 최적화, 개별 리스크 분산, 커스터마이징 등을 <br/>종합적으로 분석해 고객님을 위한 최적의 포트폴리오를 구성해요.</p>
            <div class="findo_company_main-footer-bottom">
                <img src="/images/invest.jpg" />
            </div>
            <p>핀도의 꾸준히 투자 기능으로<br/> 매일 / 매주 / 매월 <br/>꾸준히 투자하는 습관을 만들어 드려요.<br/> 또, 핀도 카드로 결제하면서<br/> 적립금과 잔돈을 자동으로 투자할 수 있어요.</p>
            <div class="findo_company_main-footer-bottom-bottom">
                <img src="/images/newspaper.jpg" />
            </div>
            <p>건강한 금융 문화를 만듭니다.<br/>생활 속 꾸준한 투자로건강한 투자 습관을 만들고,<br/>기술로 더 나은 금융 환경을 제공하는 것이<br/>핀도의 서비스 철학입니다.<br/>소득과 나이의 경계 없이 누구나<br/>자산 관리를 받아개인의 시간을<br/>더욱 가치 있게 쓸 수 있을 때 건강한 금융 문화가<br/>만들어질 것으로 믿습니다.</p>
        </div>
        <div th:replace="/include/footer :: footerfragment"></div>
    </div>
</div>
</body>
</html>