<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="/include/header :: headfragment">
</head>
<body>
<div class="wrapper_findo">
    <div class="total_findo">
        <div th:replace="/include/header :: headerfragment"></div>
        <div class="index_product_wrapper">
            <div class="index_product_main_top">
                <img src="/images/view.jpg" />
            </div>
            <p>핀도는 대형 증권사들과의 협업을 통한<br/> 지속적인 운용서비스를 제공합니다.</p>
            <div class="index_product_main_middle">
                <img src="/images/talk.jpg" />
            </div>
            <p>핀도에서 선정한 각 증권사마다<br/> 최고의 수익률 및 성과를 기록한 증권사별 랩어카운트 및 펀드를 <br/>한번에 만나보실 수 있습니다.</p>
            <div class="index_product_main_bottom" th:onclick="|location.href='@{https://www.jpmorganchase.com/}'|">
                <img src="/images/jpm.jpeg" />
            </div>
            <p>구조적 성장이 기대되는<br/> 4차 산업혁명 관련 장기성장 Top-tier 기업을 발굴하여 투자하여<br/> 고액 VIP자산운용에서 자문</p>
            <div class="index_product_main-footer-top" th:onclick="|location.href='@{https://open.shinhansec.com/}'|">
                <img src="/images/shinhanfinance.jpg" />
            </div>
            <p>본사 투자자산운용사가 정기적인 배당 수익과 자본 차익을 기대할 수 있는 <br/>미국 상장 인컴형 ETF에 분산투자 및 분배금 재투자</p>
            <div class="index_product_main-footer-middle" th:onclick="|location.href='@{https://m.kbsec.com/}'|">
                <img src="/images/kbfinance.jpg" />
            </div>
            <p>본사 운용역이 화이트 라벨링 펀드로<br/> 포트폴리오를 구성하여 운용하며 <br/>시장 상황에 따라 다양한 스타일의 펀드를 활용합니다.</p>
            <div class="index_product_main-footer-middle-middel" th:onclick="|location.href='@{https://www.samsungsecurities.com/}'|">
                <img src="/images/smasungfinance.jpg" />
            </div>
            <p>운용전문가가 고객님으로부터 금융투자상품에 대한 <br/>투자판단의 전부를 위임받아 Findo 운용역의 자문을 바탕으로 <br/>고객님의 투자목적에 맞추어 운용하는 투자서비스입니다.</p>
            <div class="index_product_main-footer-middle-bottom" th:onclick="|location.href='@{https://www3.kiwoom.com/}'|">
                <img src="/images/kiwoomfinance.jpg" />
            </div>
            <p>금융투자상품에 대한 투자판단의 전부를 위임받아<br/> 크레디트 스위스 증권 서울지점의 자문을 바탕으로 <br/>고객님의 투자목적에 맞추어 운용하는 투자서비스입니다.</p>
            <div class="index_product_main-footer-bottom" th:onclick="|location.href='@{https://www.nhqv-event.com/}'|">
                <img src="/images/nhfinance.png" />
            </div>
            <p>리서치 센터의 자산배분 전략과 투자상품본부의 <br/>금융투자상품 선정역량을 결합하여 운용, <br/>매월 또는 수시로 시장상황에 따라 포트폴리오 변경 가능</p>
            <div class="index_product_main-footer-bottom-bottom" th:onclick="|location.href='@{https://securities.koreainvestment.com/}'|">
                <img src="/images/koreafinance.png" />
            </div>
            <p>본사 투자자산운용사가 고객별로 운용하며<br/> 글로벌 시장에 상장된 ETP를 활용하여 주식과 채권 자산에 투자</p>
        </div>

        <div th:replace="/include/footer :: footerfragment"></div>
    </div>
</div>
</body>
</html>