<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="/include/header :: headfragment">
</head>
<body>
<div class="wrapper_findo">
    <div class="total_findo">
        <div th:replace="/include/header :: headerfragment"></div>
        <div>
            <p>메인 영역 내부 입니다.<p>
            <p>announcement 꾸며주기 삭제시 foregin key 로 인해서 안지워지기 때문에 댓글수에 따라 섹제가 보이고 안보이고 설정해주기 /FAQ 게시판 CRUD / gamezone / profile 탈퇴, 수정/ event CRUD / portfolio / news API or CRUD / chat websocket</p>
        </div>
        <div th:replace="/include/footer :: footerfragment"></div>
    </div>
</div>
</body>
</html>